@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}


body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}


.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
}

.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}

.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}


@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}



.footer_section{

  margin: 0 auto;
}



.subscriber_head{

  background-color: #435978;
 
  display: grid;
  text-align: center;
  width: 100%;
  height: 70px;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-areas: 
  "head input subscribe";

  
}

.subscriber_search_box{

  margin: auto;
  display: flex;
  width: 100%;
  grid-area: input;
}

.subscriber_search_bar{


  width: 100%;
  max-width: 100%;
  font-family: inherit;
 

  color: #435978;

  font-weight: 500;
  border-radius:50px 0px 0px 50px;
  border: 0px;
  padding: 15px 0px 15px 20px;

  font-size: 14px;
  background: #F0F4EF;
 
 


 

}

.subscriber_head h1{
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-family: sans-serif;
  grid-area: head;
  text-align: right;
  margin-right: 10px;

}

.subscriber_button{
  border: 0px;
  width: 150px;
  max-width: 100%;
  font-size: 700;
  padding: 15px;
  font-size: 1rem;
  color: white;
  letter-spacing: 4px;
  grid-area: subscribe;
  font-family: sans-serif;
  background: #2cb95b;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;

  font-weight: 500;
  border-radius: 0px 50px 50px 0px;
  outline: 0;
  transition: all 0.2s;

}


.subscriber_mid{

  background-color: #a9d1ff;
  width: 100%;
  /* height: 180px; */
  height: 200px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 0.7fr 0.01fr 1.6fr 0.01fr 1fr;
  grid-template-areas: 
  "first line second line2 last";
}


.first_para{

  margin-left: 10%;
  margin-bottom: auto;
  margin-top: auto;
  grid-area: first;
}

#footer_first_head{
  font-weight: lighter;
}

.vertical {
  border-left: 1px solid #0000004d;
  height: 156px;
  grid-area: line;
  margin-top: auto;
  margin-bottom: auto;
  /* position: absolute;
  left: 21%;
  bottom: -23%; */

}

.vertical2{
  border-left: 1px solid #0000004d;
  height: 156px;
  grid-area: line2;
  margin-top: auto;
  margin-bottom: auto;
  /* position: absolute;
  left: 21%;
  bottom: -23%; */

}

.middle_para{
  grid-area: second;
  display: flex;
}

.last_para{
  grid-area: last;
}

.footer_About{
  /* margin: auto; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  
}
.footer_About_para{
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer_About_head{

  color: black;
}

.footer_About_links{

  font-weight: lighter;
  color: black;
}











.last_para{
  margin-top: auto;
  margin-bottom: auto;
}

.footer_form_mid{

  margin-top: 3%;
  display: flex;
  width: 100%;
}

.footer_mid_subscribe_bar{

/* width: 450px; */
  /* display: block; */
  width: 100%;
  max-width: 100%;
  font-family: inherit;
 
  /* max-width: calc(100% - 50%); */
  color: #435978;

  font-weight: 500;
  border-radius:50px 0px 0px 50px;
  border: 0px;
  padding: 15px 0px 15px 20px;

  font-size: 14px;
  background: #F0F4EF;
 


}
.footer_mid_subscriber_button{
  border: 0px;
  /* width: 150px; */
  width: 100px;
  max-width: 100%;
  font-size: 700;
  padding: 13px;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  grid-area: subscribe;
  font-family: sans-serif;
  background: #2cb95b;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 1%; */
  margin-right: 2%;
  font-weight: 500;
  border-radius: 0px 50px 50px 0px;
  outline: 0;
  transition: all 0.2s;


}

.subscriber_button:hover{

  background: rgb(0, 140, 255);


}

.footer_mid_subscriber_button:hover{

  background: rgb(0, 140, 255);
}

.footer_mid_icons{
  margin: 2%;
  /* margin-left: 2%; */

}

.footer_mid_icons_inner:hover{

  color: #006aff;
}

.quick_signup{
  font-size: 1.4rem;
  font-weight: lighter;
}

.footer_last{
  margin-bottom: 4%;
}


.footer_mid_icons_inner{

  font-size: 2rem;
  color: blue;
  /* border: 1px solid blue; */
}

.icon_section{
  /* you can either set it to flex or block */
  display: block;

  margin-left: 15%;
}




.subscriber_last{
  background-color: #0048ac;
  height: 70px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 0.01fr 3fr 1fr;
  grid-template-areas: 
  "logo line3 mid-section copyright";
   
}


.footer_logo_last{

  text-align: end;
  margin-top: auto;
  margin-bottom: auto;
}

.vertical3{
  border-left: 1px solid #0000004d;
  height: 15px;
  grid-area: line3;
  margin-top: auto;
  margin-bottom: auto;
}

.footer_last_mid_para{

margin-top: auto;
margin-bottom: auto;

}

#unleash{

  color: white;
  font-weight: lighter;

}

.copyright2{

  color: white;
  font-size: 0.7rem;
  font-weight: lighter;
}

.footer_last_last_para{

  margin-top: auto;
  margin-bottom: auto;
}

/* ====================================== LAST = F O O T E R  ENDS ======================================= */

/* -----------------------------MEDIA QUERIES----------------------------- */

@media only screen and (max-width: 992px) {

  .subscriber_head{
  
      grid-template-columns: 0.5fr 2.5fr 0.5fr;
  }
  #free_daily_updates{
      display: none;
  }

  .quick_signup{
  display: none;

  }
  
  
  
  
}


@media only screen and (max-width: 768px) {

  .subscriber_head{
  
      grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid{
      grid-template-columns:1fr;
      /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
      grid-template-rows: 0.9fr 0.01fr 0.9fr 0.01fr 0.9fr;
      grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
      height: 100%;
      grid-gap: 0px;
  }



  .first_para{
      margin-left: 3%;
  }

  .middle_para{
      flex-wrap: wrap;
  }
  
  .last_para{
      text-align: center;
  }
  
  .footer_mid_subscriber_button{
      margin-right: 0;
  }

  .vertical{
      display: none;
  }


  .vertical2{
      display: none;
      
  }

  .vertical3{
      display: none;
  }

  .horizontal{
      border-bottom: 1px solid #0000004d;
      grid-area: horizontal;
  }
  
  .horizontal2{
      border-bottom: 1px solid #0000004d;
      grid-area: horizontal2;

      
  }

  .contacts h4{
      text-align: left;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 2%;
  }

  .contacts{

      margin-top: 3%;
      margin-bottom: 3%;
  }

  .icon_section{
      margin-left: 0%;
      justify-content: center;
  }

  .footer_mid_icons_inner{
      font-size: 3rem;
  }

  .subscriber_last{
      display: block;
      width: 100%;
      height: 100%;
      padding: 1%;
  }

  .footer_logo_last{
      text-align: center;
  }

  .footer_last_mid_para{
      text-align: center;
  }

  .footer_last_last_para{
      text-align: center;
  }

  /* .footer_last{ */
      /* margin: 0; */
      /* padding-left: 30px; */
  /* } */

  /* .techno{
    padding-right: 0%;
  } */


}



@media only screen and (max-width: 576px) {

  .subscriber_head{
  
      grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid{
      grid-template-columns:1fr;
      /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
      grid-template-rows: 0.5fr 0.01fr 0.5fr 0.01fr 0.5fr;
      grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
      height: 100%;
      grid-gap: 0px;
  }


  .horizontal{
      border-bottom: 1px solid #0000004d; 
      grid-area: horizontal;

 
  }
  
  .horizontal2{
     border-bottom: 1px solid #0000004d;       
     grid-area: horizontal2;

  }


  .middle_para{
      text-align: left;
  }

  .footer_About{


      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8.4%;
      margin-right: 8.4%;
  }

  .footer_About_head{

      font-size: 1.4rem;
  }

  .footer_About_links{

      font-size: 1.6rem;  
  }


  #footer_first_head{

      font-size: 2rem;
  }


  .footer_para h5{

      font-size: 1.2rem;
  }





}


@media only screen and (max-width: 502px) {



.subscriber_mid{

  grid-template-rows: 0.9fr 0.01fr 2.5fr 0.01fr 0.3fr;
}




}
